<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="blog"></ion-back-button>
          </ion-buttons>
        <ion-title>Blog Item</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="post$">
    <h1>{{ post$.title }}</h1>
    <p>Publié par: {{ currentUser }}</p>
    <p>{{ post$.body }}</p>
    <div *ngFor="let comment of comments">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{ comment.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{ comment.email }}</p>
                <p>{{ comment.body }}</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>